Flask
Werkzeug
Flask-WTF
Flask-Login
Flask-Mail
Flask-Moment
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
PyJWT
Bootstrap-Flask
alembic
psycopg2-binary
redis
gunicorn
pydantic
pydantic-settings
email-validator
requests
sentry-sdk
opentelemetry-api
google-auth
apispec
