{% extends "bootstrap_base.html" %}

{% block title %}
    {% if title %}{{ title }} - cevapop{% else %}cevapop{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar">
        <div class="container">
            <ul class="nav navbar-left">
                <li class="nav-item">
                    <a class="navbar-brand" href="{{ url_for('views_listings.index') }}">
                        <img src="../static/assets/logo3.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        ceva marketplace
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views_listings.index') }}">
                        <img src="../static/assets/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        listings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views_listings.new_listing') }}">
                        <img src="../static/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        sell
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-right">
                {% if current_user.is_anonymous %}
                <a class="navbar-brand" href="{{ url_for('views_auth.login') }}">
                        <img src="../static/assets/priceTag.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        login
                </a>
                <!--<li class="nav-item"><a href="{{ url_for('views_auth.login') }}">login</a></li>-->
                {% else %}
                <li class="nav-item"><a class="nav-link"  href="{{ url_for('views_users.view_user', user_id=current_user.id) }}">profile</a></li>
                <li class="nav-item"><a class="nav-link"  href="{{ url_for('views_auth.logout') }}">logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-3 mb-4">
        <div class="title-container">
            <h5>{{ title }}</h5>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="shortcut icon" type="image/jpg" href="../static/assets/favicon.png">
{% endblock %}

{% block content %}
    <div class="container pb-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <div class="container footer">
            <p class="mt-1 mb-1"></p>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}