{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block app_content %}
    <div class="col-md-8 pl-0">
        <p><b>Messaging <a href="{{ url_for('views_users.view_user', user_id=user.id) }}">{{ user.name }}</a></b></p>
        <p>This message will include your name ({{ current_user.name }}) and your <a href="{{ url_for('views_users.view_user', user_id=current_user.id) }}">profile link</a>.</p>
        <p>Include what listing you are interested in.</p>
        {{ render_form(form) }}
    </div>
{% endblock %}